$input-color: #0e1329;
$color-primary: #10162b;
$color-stats: #9b712a;
$color-stats-bold: #bd892b;
$button-greenish-light: #1c8d83;
$button-greenish: #197e75;
$button-greenish-dark: #115852;
$button-bluish-light:#3f7e91;
$button-bluish: #386f80;
$button-bluish-dark: #29525f;

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #777;
	background-image: url(../Resources/wallpaper.jpg);
	background-size: cover;
	background-position: top;
	height: 100vh;
}
.content-wrapper{
	width: 100%;
	height: 100%;
	text-align: center;
}

//Central Form Style
.central-content{
	display: inline-block;
	margin-top: 4rem;

	.logo{
		width: 300px;
		height: 80px;
		display: block;

		img{
			height: auto;
			width: 100%;
		}
	}
	
	.submission{
		height: 200px;
		input:not(:last-child) {
			border: none;
			margin-top: 15px;
			width: 250px;
			height: 33px;
			background-color: $input-color;
			font-size: 15px;
			line-height: 2;
			padding-left: 15px;
			letter-spacing: 1px;
		}
		input:not(:last-child):focus{
			outline: none;
		}
		input:not(:last-child):active{
			background-color: $input-color!important;
		}
		input:not(:last-child),select, textarea{
			color:white;
		}
	}
}

#submitButton{
	border: none;
	margin-top: 15px;
	width: 250px;
	height: 35;
	background-image: linear-gradient($button-greenish-light,$button-bluish-light);
	color:white;
}
#submitButton:hover{
	cursor: pointer;
	background-image: linear-gradient($button-greenish,$button-bluish);
}
#submitButton:active{
	cursor: pointer;
	background-image: linear-gradient($button-greenish-dark,$button-bluish-dark);
}
#searchForm{
	height: 100%;
}

//Loading button style
#loading{
	display: none;
}

/* The styling of this loading spinner is not done by me -- i made small adjustments*/
.cssload-container{
	position:relative;
}
	
.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 1px solid rgb(204,204,204);
	border-left-color: rgb(0,0,0);
	border-radius: 974px;
		-o-border-radius: 974px;
		-ms-border-radius: 974px;
		-webkit-border-radius: 974px;
		-moz-border-radius: 974px;
}

.cssload-whirlpool {
	margin: -24px 0 0 -24px;
	height: 49px;
	width: 49px;
	animation: cssload-rotate 1150ms linear infinite;
		-o-animation: cssload-rotate 1150ms linear infinite;
		-ms-animation: cssload-rotate 1150ms linear infinite;
		-webkit-animation: cssload-rotate 1150ms linear infinite;
		-moz-animation: cssload-rotate 1150ms linear infinite;

}

.cssload-whirlpool::before {
	content: "";
	margin: -22px 0 0 -22px;
	height: 43px;
	width: 43px;
	animation: cssload-rotate 1150ms linear infinite;
		-o-animation: cssload-rotate 1150ms linear infinite;
		-ms-animation: cssload-rotate 1150ms linear infinite;
		-webkit-animation: cssload-rotate 1150ms linear infinite;
		-moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::after {
	content: "";
	margin: -28px 0 0 -28px;
	height: 55px;
	width: 55px;
	animation: cssload-rotate 2300ms linear infinite;
		-o-animation: cssload-rotate 2300ms linear infinite;
		-ms-animation: cssload-rotate 2300ms linear infinite;
		-webkit-animation: cssload-rotate 2300ms linear infinite;
		-moz-animation: cssload-rotate 2300ms linear infinite;
}

@keyframes cssload-rotate {
	100% {
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-rotate {
	100% {
		-o-transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-rotate {
	100% {
		-ms-transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-rotate {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-rotate {
	100% {
		-moz-transform: rotate(360deg);
	}
}

//Character modal style
#characterModal {
	//display: none;
	margin-top: 1rem;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 48vh;
	overflow: auto;
	background-color: rgba(17, 23, 45, 0.72);
}

.close{
	color: white;
	font-size: 28px;
	font-weight: bold;
	padding-right: 2rem;
	position:fixed;
	right: 0; 
}

.close:hover {
	cursor: pointer;
	color:#ded8d7;
}

.close:active {
	color:#aba4a2;
}

.modal-content {
	height: 100%;
	width: 100%;

}
.characterTable {
	margin-top: 2.5rem;
	padding-top: 1rem;
	background-color: $color-primary;
	margin-left: 6rem;
	width: 40%;
	height: 80%;
	border-radius: 10px;
	border: 1px solid gray;
	display: inline-block;
	float: left;
	padding-left: 1rem;
	text-align: left;
	.group1{
		height: 100%;
		width: 30%;
		display: inline-block;
		padding-left: 0rem;;
	
	}

	.group2{
		height: 100%;
		width: 30%;
		display: inline-block;
		padding-left: 0rem;
	}
	.seperator{
		height: 60%;
		width: 1.5px;
		//border-right: 1px solid red;
		display: inline-block;
		border-radius: 50% 50% 0% 0%;
		margin-bottom: 6%;
		background: linear-gradient(to top, rgba(128,128,128, 0.8), rgba(0, 0, 0, 0));
		padding-left: 0rem;;
	}

	.group3{
		height: 100%;
		width: 34%;
		display: inline-block!important;
		padding-left: 0rem;
		margin-top: 0px;
		padding-top: 0px;
		margin-left: 5px;
		vertical-align: top;
	}
	.compare{
		color: $color-stats-bold;
		display: block;
	}
	.column {
		width:  100%;
	}
	.column-first{
		height: 45%;
		margin-bottom: 0rem;
		
	}

	.column-second{
		height: 30%;
	}

	.column-third{
		height: 30%;
	}
	.column-forth{
		height: 40%;
	}
	.column-fifth {
		height: 60%;
		padding-top: 1rem;
	}
	.column-desc {
		height: 100%;
		width: 50%;
		text-align: left;
		padding-left: 1rem;
		display: inline-block;
		float: left;
		.statsTitle{
			color: white;
			display: block;
		}
		.stat {
			font-size: 11px;
			color: $color-stats;
			display: block;
		}
	}

	.column-val{
		float:right;
		height: 100%;
		width: 50%;
		display: inline-block;
		padding-top: 1.8rem;
		.stat-number{
			font-size: 11px;
			display: block;
			text-align: right;
			padding-right: 1rem;
		}
	}
	.images-wrapper{
		height: 90%;
		width: 100%;
	}
	.row{
		  display: flex;
		  flex-direction: row;
		  flex-wrap: wrap;
		  width: 100%;
		  height: 30%;
	}
	.image-border{
		width: 40%;

		img{
			display:block;
    		margin:auto;
    		height: 60px;
    		width: 60px;
    		margin-top: 15%;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}

		img:hover{
			cursor: pointer;
		}
	}
	.hover-img{
		position: relative;
  		display: inline-block;
	}
	.hover-img-text{
		width: 150px;
		height: 50px;
		background-color: rgba(17, 23, 45, 0.72);
		color: white;
		text-align: center;
		border-radius: 10px;
		padding: 4px 8px;
		position: absolute;
		z-index: 1;
		bottom: 100%;
		left: 70%;
		text-align: left;
		font-size: 12px;
	  	opacity: 0;
  		transition: opacity 1s;
  		visibility: hidden;
	}
	.hover-img .hover-img-text::after{
		  content: "";
		  position: absolute;
		  top: 100%;
		  left: 10%;
		  margin-left: -5px;
		  border-width: 5px;
		  border-style: solid;
		  border-color:  red transparent transparent transparent;
	}
	.hover-img:hover .hover-img-text {
  		visibility: visible;
  		opacity: 1;
	}	
	.hover-img-text::before{
		content:"Where is this character from?";
	}
}

.itemTable{
	margin-top: 2.5rem;
	background-color: $color-primary;
	margin-left: 6rem;
	margin-right: 3rem;
	width: 35%;
	height: 80%;
	border-radius: 10px;
	border: 1px solid gray;
	display: inline-block;
}

@media only screen and (max-width: 200px) {
	body{
		color:red;
	}
}
@media only screen and (min-width: 200px) and (max-width: 400px) {
	body{
		color:black;
	}
}

@media only screen and (min-width: 400px) and (max-width: 600px) {
	body{
		color:magenta;
	}
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
	body{
		color:red;
	}
	.characterTable {
		width: 80%;
		margin-top: 3rem;
	}
	.itemTable{ 
		width: 80%;
		margin-top: 2rem;
		margin-bottom: 1rem;
		float:left;
		margin-left: 3rem;
	}
}
@media only screen and (min-width:800px) and (max-width: 1200px) {
	body{
		color:yellow;
	}
	.characterTable {
		width: 80%;
		margin-top: 3rem;
	}
	.itemTable{ 
		width: 80%;
		margin-top: 2rem;
		margin-bottom: 1rem;
		float:left;
		margin-left: 3rem;
	}
}

@media only screen and (min-width:1200px) and (max-width: 1400px) {
	body{
		color:blue;
	}
	.characterTable {
		width: 80%;
		margin-top: 3rem;
	}
	.itemTable{ 
		width: 80%;
		margin-top: 2rem;
		margin-bottom: 1rem;
		float:left;
		margin-left: 3rem;
	}
}


