<div class="central-content">
	<div class="logo">
	  <img src="../Resources/eagleDream.png" alt="EagleDream Technologies logo" />
	</div>
	<div class="submission">
		<form  id="searchForm" action="/" method="POST">
			<input type="text" name="characterName" placeholder="Character name" required="required" pattern="[A-Za-z0-9]{1,20}">
			  <br>
			<input type="text" name="realm" placeholder="Realm name" required="required" pattern="[A-Za-z0-9]{1,20}">
			  <br>
			<input id="submitButton" type="submit" value="Search">
			  <br>
		</form>
	</div>
</div>
