<!DOCTYPE html>
<html>
<head>
	<title>EagleView Demo</title>
</head>
<body>
	<div class="central-content">
		<div class="logo">
			Logo
		</div>
		<div class="submission">
			<form  method="POST">
				<input type="text" name="characterName" value="Character Name">
				  <br>
				<input type="text" name="realm" value="Real Name">
				  <br>
				<input type="submit" value="Search">
			</form>
		</div>
	</div>
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/logic.js"> </script>
</body>
</html>