<div class="character-content-wrapper">

	<div class="stats-wrapper">
		<div class="column column-first">
			<div class="group-descr ">
				<span class="statsTitle">Attributes</span>
				<span class="stat">Level</span>
				<span class="stat">Health</span>
				<span class="stat">Strength</span>
				<span class="stat">Agility</span>
				<span class="stat">Inteligence</span>
				<span class="stat">Stamina</span>
				<span class="stat">Haste</span>
			</div>

			<div class="group-values">
				<span class="statsEmpty"> .</span>
				<span class="stat-number" id="level" >-</span>
				<span class="stat-number" id="health" >-</span>
				<span class="stat-number" id="Strength" >-</span>
				<span class="stat-number" id="Agility" >-</span>
				<span class="stat-number" id="Inteligence" >-</span>
				<span class="stat-number" id="Stamina" >-</span>
				<span class="stat-number" id="Haste" >-</span>
			</div>
		</div>
		<div class="column">
			<div class="group-descr">
				<span class="statsTitle">Attack</span>
				<span class="stat">Damage</span>
				<span class="stat">Speed</span>
			</div>

			<div class="group-values">
				<span class="statsEmpty"> .</span>
				<span class="stat-number" id="damage" >-</span>
				<span class="stat-number" id="speed" >-</span>
			</div>
		</div>

		<div class="column">
			<div class="group-descr">
				<span class="statsTitle">Spell</span>
				<span class="stat">Mana Regen</span>
			</div>

			<div class="group-values">
				<span class="statsEmpty"> .</span>
				<span class="stat-number" id="manaRegen" >--</span>
			</div>
		</div>

		<div class="column">
			<div class="group-descr">
				<span class="statsTitle">Spell</span>
				<span class="stat">Mana Regen</span>
			</div>

			<div class="group-values">
				<span class="statsEmpty"> .</span>
				<span class="stat-number" id="manaRegen" >--</span>
			</div>
		</div>
	</div>

	<div class="column">
		Images
	</div>