<!DOCTYPE html>
<html>
<head>
	<title>EagleView Demo</title>
	<link rel="stylesheet" href="styles/style.css">
</head>
<body>
	<div class="central-content">
		<div class="logo">
			Logo
		</div>
		<div class="submission">
			<form  id="searchForm" action="/" method="POST">
				<input type="text" name="characterName" placeholder="Character name">
				  <br>
				<input type="text" name="realm" placeholder="Realm name">
				  <br>
				<input type="submit" value="Search">
			</form>
		</div>
	</div>
	<div id="loading">
		LOAAOAOADING
	</div>
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/logic.js"> </script>
</body>
</html>