<!DOCTYPE html>
<html>
<head>
	<title>EagleDream Demo</title>
	<link rel="stylesheet" href="styles/style.css">
	<link rel="stylesheet" href="styles/wrongLink.css">
</head>
<body>
	<div class="content-404">
		<div class="info-404">
			<span class="foroh"> 404</span> - Page Not Found
		</div>
		
		<div class="link-back">
			<a href="/"> &larr; Back</a>
		</div>

	</div>

</body>
</html>