* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  background-image: url(../Resources/wallpaper.jpg);
  background-size: cover;
  background-position: top;
  height: 100vh; }

.content-wrapper {
  width: 100%;
  height: 100%;
  text-align: center; }

.central-content {
  display: inline-block;
  margin-top: 4rem; }
  .central-content .logo {
    width: 300px;
    height: 80px;
    display: block; }
    .central-content .logo img {
      height: auto;
      width: 100%; }
  .central-content .submission {
    height: 200px; }
    .central-content .submission input:not(:last-child) {
      border: none;
      margin-top: 15px;
      width: 250px;
      height: 33px;
      background-color: #0e1329;
      font-size: 15px;
      line-height: 2;
      padding-left: 15px;
      letter-spacing: 1px; }
    .central-content .submission input:not(:last-child):focus {
      outline: none; }
    .central-content .submission input:not(:last-child):active {
      background-color: #0e1329 !important; }
    .central-content .submission input:not(:last-child), .central-content .submission select, .central-content .submission textarea {
      color: white; }

#submitButton {
  border: none;
  margin-top: 15px;
  width: 250px;
  height: 35;
  background-image: linear-gradient(#1c8d83, #3f7e91);
  color: white; }

#submitButton:hover {
  cursor: pointer;
  background-image: linear-gradient(#197e75, #386f80); }

#submitButton:active {
  cursor: pointer;
  background-image: linear-gradient(#115852, #29525f); }

#searchForm {
  height: 100%; }

#loading {
  display: none; }

/* The styling of this loading spinner is not done by me -- i made small adjustments*/
.cssload-container {
  position: relative; }

.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid #cccccc;
  border-left-color: black;
  border-radius: 974px;
  -o-border-radius: 974px;
  -ms-border-radius: 974px;
  -webkit-border-radius: 974px;
  -moz-border-radius: 974px; }

.cssload-whirlpool {
  margin: -24px 0 0 -24px;
  height: 49px;
  width: 49px;
  animation: cssload-rotate 1150ms linear infinite;
  -o-animation: cssload-rotate 1150ms linear infinite;
  -ms-animation: cssload-rotate 1150ms linear infinite;
  -webkit-animation: cssload-rotate 1150ms linear infinite;
  -moz-animation: cssload-rotate 1150ms linear infinite; }

.cssload-whirlpool::before {
  content: "";
  margin: -22px 0 0 -22px;
  height: 43px;
  width: 43px;
  animation: cssload-rotate 1150ms linear infinite;
  -o-animation: cssload-rotate 1150ms linear infinite;
  -ms-animation: cssload-rotate 1150ms linear infinite;
  -webkit-animation: cssload-rotate 1150ms linear infinite;
  -moz-animation: cssload-rotate 1150ms linear infinite; }

.cssload-whirlpool::after {
  content: "";
  margin: -28px 0 0 -28px;
  height: 55px;
  width: 55px;
  animation: cssload-rotate 2300ms linear infinite;
  -o-animation: cssload-rotate 2300ms linear infinite;
  -ms-animation: cssload-rotate 2300ms linear infinite;
  -webkit-animation: cssload-rotate 2300ms linear infinite;
  -moz-animation: cssload-rotate 2300ms linear infinite; }

@keyframes cssload-rotate {
  100% {
    transform: rotate(360deg); } }

@-o-keyframes cssload-rotate {
  100% {
    -o-transform: rotate(360deg); } }

@-ms-keyframes cssload-rotate {
  100% {
    -ms-transform: rotate(360deg); } }

@-webkit-keyframes cssload-rotate {
  100% {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes cssload-rotate {
  100% {
    -moz-transform: rotate(360deg); } }

.characterTable {
  margin-top: 2.5rem;
  padding-top: 1rem;
  background-color: #10162b;
  margin-left: 1rem;
  width: 40%;
  height: 80%;
  border-radius: 10px;
  border: 1px solid gray;
  display: inline-block;
  float: left;
  padding-left: 1rem;
  text-align: left;
  z-index: 999;
  overflow: hidden; }
  .characterTable .group1 {
    height: 100%;
    width: 30%;
    display: inline-block;
    padding-left: 0rem; }
  .characterTable .group2 {
    height: 100%;
    width: 30%;
    display: inline-block;
    padding-left: 0rem; }
  .characterTable .seperator {
    height: 60%;
    width: 1.5px;
    display: inline-block;
    border-radius: 50% 50% 0% 0%;
    margin-bottom: 6%;
    background: linear-gradient(to top, rgba(128, 128, 128, 0.8), rgba(0, 0, 0, 0));
    padding-left: 0rem; }
  .characterTable .group3 {
    height: 100%;
    width: 35%;
    display: inline-block !important;
    padding-left: 0rem;
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 5px;
    vertical-align: top; }
    .characterTable .group3 .compare {
      color: #bd892b;
      display: block; }
  .characterTable .column {
    width: 100%; }
  .characterTable .column-first {
    height: 45%;
    margin-bottom: 0rem; }
  .characterTable .column-second {
    height: 30%;
    padding-top: .5rem; }
  .characterTable .column-third {
    height: 30%; }
  .characterTable .column-forth {
    height: 40%; }
  .characterTable .column-fifth {
    height: 60%;
    padding-top: 1.5rem; }
  .characterTable .column-desc {
    height: 100%;
    width: 50%;
    text-align: left;
    padding-left: 1rem;
    display: inline-block;
    float: left; }
    .characterTable .column-desc .statsTitle {
      color: white;
      display: block; }
    .characterTable .column-desc .stat {
      font-size: 11px;
      color: #9b712a;
      display: block; }
  .characterTable .column-val {
    float: right;
    height: 100%;
    width: 50%;
    display: inline-block;
    padding-top: 1.8rem; }
    .characterTable .column-val .stat-number {
      font-size: 11px;
      display: block;
      text-align: right;
      padding-right: 1rem; }
  .characterTable .images-wrapper {
    height: 90%;
    width: 100%; }
  .characterTable .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 30%; }
  .characterTable .image-border {
    width: 40%; }
    .characterTable .image-border img {
      display: block;
      margin: auto;
      height: 60px;
      width: 60px;
      margin-top: 15%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    .characterTable .image-border img:hover {
      cursor: pointer; }
  .characterTable .hover-img {
    position: relative;
    display: inline-block; }
  .characterTable .hover-img-text {
    width: 150px;
    height: 50px;
    background-color: rgba(17, 23, 45, 0.72);
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 4px 8px;
    position: absolute;
    z-index: 99;
    bottom: 100%;
    left: 60%;
    text-align: left;
    font-size: 12px;
    opacity: 0;
    transition: opacity 1s;
    visibility: hidden; }
  .characterTable .hover-img .hover-img-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: red transparent transparent transparent; }
  .characterTable .hover-img:hover .hover-img-text {
    visibility: visible;
    opacity: 1; }
  .characterTable .hover-img-text::before {
    content: "Where is this character from?"; }
  .characterTable .percent::after {
    content: "%"; }

.itemTable {
  margin-top: 2.5rem;
  background-color: #10162b;
  margin-left: 6rem;
  margin-right: 3rem;
  width: 35%;
  height: 80%;
  border-radius: 10px;
  border: 1px solid gray;
  display: inline-block;
  text-align: left;
  padding-left: 3rem;
  padding-top: 0.5rem;
  overflow-y: auto; }
  .itemTable #bar-style::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5; }
  .itemTable #bar-style::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5; }
  .itemTable #bar-style::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555; }
  .itemTable .itemTitle {
    color: #bd892b;
    display: inline-block; }
  .itemTable .item-row {
    height: 20px;
    display: none; }
  .itemTable .item-row:hover {
    cursor: pointer; }
  .itemTable .item-image {
    width: 60px;
    height: 60px;
    border: 1px solid gray;
    border-radius: 10%;
    margin-left: 3px;
    margin-top: 5px;
    display: inline-block; }
  .itemTable .hover-item {
    position: relative; }
  .itemTable .hover-stat {
    display: block; }
  .itemTable .hover-id {
    display: block;
    font-size: 11px;
    text-align: right; }
  .itemTable .hover-item {
    position: relative; }
  .itemTable .hover-item-panel {
    width: 250px;
    height: 80px;
    background-color: rgba(17, 23, 45, 0.72);
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 4px 8px;
    position: absolute;
    z-index: 9999;
    bottom: 130%;
    left: -5%;
    text-align: left;
    font-size: 12px;
    opacity: 0;
    transition: opacity 1s;
    visibility: hidden; }
    .itemTable .hover-item-panel .img-wrapper {
      width: 30%;
      float: left;
      display: inline-block; }
    .itemTable .hover-item-panel .hover-stat-wrapper {
      display: inline-block;
      height: 100%;
      width: 20%;
      font-size: 11px; }
    .itemTable .hover-item-panel .hover-value-wrapper {
      display: inline-block;
      width: 50%;
      float: right; }
  .itemTable .hover-item-panel::after {
    content: '';
    position: absolute;
    top: 111%;
    left: 12%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: red transparent transparent transparent; }
  .itemTable .hover-item:hover .hover-item-panel {
    visibility: visible;
    opacity: 1; }
  .itemTable .hover-id {
    overflow: hidden; }
  .itemTable .item-col {
    display: inline-block;
    width: 30%; }
  .itemTable .item-col-right {
    text-align: right; }
  .itemTable .item-descr {
    display: inline-block;
    font-size: 11px;
    color: #9b712a; }
  .itemTable .item-val {
    display: inline-block;
    font-size: 11px;
    color: #9b712a;
    text-align: left; }
  .itemTable .price {
    display: inline-block;
    font-size: 11px;
    text-align: right;
    padding-right: 0.3rem; }
  .itemTable .coin-img {
    content: url("../Resources/SVG/coin.svg");
    height: 9px;
    width: 9px; }

#characterModal {
  margin-top: 1rem;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 50vh;
  overflow: auto;
  background-color: rgba(17, 23, 45, 0.72); }

.close {
  color: white;
  font-size: 28px;
  font-weight: bold;
  padding-right: 2rem;
  position: fixed;
  right: 0; }

.close:hover {
  cursor: pointer;
  color: #ded8d7; }

.close:active {
  color: #aba4a2; }

.modal-content {
  height: 100%;
  width: 100%; }

.profile {
  float: left;
  margin-top: 1rem;
  margin-left: 1rem;
  position: relative;
  height: 120px;
  width: 80px; }

.profile-image {
  position: absolute;
  left: 40%;
  height: 100%;
  width: 100%; }
  .profile-image img {
    border: 2px solid white;
    border-radius: 50%; }

#invalidModal {
  display: none;
  margin-top: 1rem;
  height: 53vh;
  width: 100%;
  background-color: rgba(17, 23, 45, 0.72);
  z-index: 999; }

#failure-reason {
  text-transform: uppercase;
  padding-top: 5rem;
  font-size: 25px;
  color: white; }

#sorry {
  display: none;
  color: white;
  background-color: #10162b;
  border: 1px solid white;
  border-radius: 10px; }

@media only screen and (max-width: 400px) {
  #characterModal {
    display: none !important; }
  #sorry {
    display: block; } }

@media only screen and (min-width: 400px) and (max-width: 600px) {
  .characterTable {
    width: 70%;
    margin-top: 3rem;
    height: 300px; }
    .characterTable .group1 {
      width: 45%; }
    .characterTable .group2 {
      width: 45%; }
    .characterTable .seperator {
      display: none !important; }
    .characterTable .group3 {
      display: none !important; }
  .itemTable {
    width: 70%;
    margin-top: 3rem;
    margin-bottom: 1rem;
    float: left;
    margin-left: 7rem;
    height: 400px; }
    .itemTable .item-row {
      padding-bottom: 10px; }
    .itemTable .item-col-right-money {
      display: none; }
    .itemTable .item-col-right-name {
      width: 60%; }
  .close {
    padding-right: 1.5rem; } }

@media only screen and (min-width: 600px) and (max-width: 800px) {
  #characterModal {
    height: 400px; }
  .central-content {
    margin-top: 3rem;
    height: 80px; }
  .profile {
    padding-left: 0px;
    margin-left: 0px;
    padding-top: 1rem; }
  .characterTable {
    width: 76%;
    margin-top: 3rem;
    padding-top: 1rem; }
  .itemTable {
    width: 76%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    float: left;
    margin-left: 6rem; }
  .column-second {
    margin-top: .7rem; } }

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .characterTable {
    width: 80%;
    margin-top: 3rem; }
  .itemTable {
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    float: left;
    margin-left: 7rem; }
  .column-second {
    margin-top: .5rem; }
  .column-fifth {
    margin-top: .5rem; } }

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .characterTable {
    width: 45%;
    margin-top: 3rem; }
    .characterTable .group3 {
      width: 35%; }
  .itemTable {
    width: 40%;
    margin-top: 3rem;
    margin-bottom: 1rem;
    float: right;
    margin-right: 2.5rem;
    margin-left: 0px; }
  .close {
    padding-right: 1rem; } }
